body{
    font-family: 'Roboto', sans-serif;
}

.nav{
    border-width: 2px;
    //border-style: solid;
    text-align: right;
    //padding: 10px;
    justify-content: center;
    align-items: center;
}

.gmail{
    padding: 10px;
    display: inline-block;
    border-width: 1px;
    //border-style: dotted;
    text-align: center;
}

.images{
    display: inline-block;
    border-width: 1px;
    //border-style: dotted;
    text-align: center;
    padding: 10px;
}

.bottomapp{
    display: inline-block;
    border-width: 1px;
    //border-style: dotted;
    text-align: center;
    padding:10px;
}

.bottomsection{
    display: inline-block;
    
    border-width: 1px;
    //border-style: dotted;
    text-align: center;
}

main{
    //border-style: dotted;
    border-width: 1px;
    text-align: center;
}

.logo{
    padding-top: 115px;
}


input[type=text]{
    border-color: lightgray;
    width: 542px;
    height: 34px;
    border-width: 0.1px;
    border-radius: 27px;
    border-style: solid;
    background-image: url(images/lupita.png);
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 40px;
    margin-top: 22px;
    transition: width 0.4s ease-in-out;
    background-position: 10px 7px;
     
}

input[type=text]:focus {
    width: 40%;
    
    outline-width: 0;
    box-shadow: rgb(102, 101, 101);
  }

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    //border-style: solid;
    
  }

  .googlesearch{
    position: relative;
    float: left;
    padding: 3px;
    
  }

  .lucky{
      position: relative;
      float: left;
    padding: 3px;
  }

  .searchb {
      border: 0;
      padding: 10px; 
      border-radius: 8px; 
  }

  .luckyb{
    border: 0;
    padding: 10px;  
    border-radius: 8px;
}

button{
    
  font-family: inherit;
  cursor: pointer;
}

li{
    display: inline-block;
    padding: 0px 25px;
}

.butom{
    background-color: #4285f4;
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto' , sans-serif;
}
